<!-- nav -->
<nav class="ui fixed menu inverted navbar">

   <a ui-sref='root' class="brand item"><span class="brand item">inspi.herd</span></a> <!--add link to home page -->
   <a ui-sref="addGoalState" class="brand item"><span class="brand item">Profile</span></a>
   <a ui-sref="allGoals" class="brand item"><span class="brand item">All Goals</span></a>
   <a ui-sref ='loginState' class="ui right brand item" ng-controller='logoutController'>
    <span class="brand item logout" ng-click='logout()'> Logout </span>


  </a>
</nav> 
<!-- end nav -->
